<h1>Day 35 Workshop Boardgames</h1>
<app-gameslist></app-gameslist>
<div style="width: 30%; display: block; margin-left: 30%; margin-right: 30%;">
    <form (click)="search(name.value)" [formGroup]="form$">
        <div>
            Games per page:
            <input type="number" min="0" formControlName="limit" #limit (keyup)="search(limit.value)">
        </div>
        <br>
        <div>
            Game name:
            <input type="text" size="30" formControlName="name" #name>
        </div>
    
    <br>
    <div *ngFor="let bg of boardgames$ | async">
        <ul style="border: solid; padding: 0.4em; margin: 0px;">
            <a href="{{ bg.url }}">{{ bg.gid}} . {{ bg.name }} - {{ bg.ranking}}</a>
        </ul>
    </div>
    <br>
    <div style="display: flex; align-items: center; justify-content: center;">
        <button (click)="changePage(-1)" name="previous">Previous</button>
        <input type="number" min="1" #pageNum formControlName="pageNum" onkeyup="if (value<1 || value == null) value=1" value="1" style="text-align: center;">
        <button style="float: right;" (click)="changePage(1)">Next</button>
    </div>
    </form>
</div>
